.debug{
  border:1px solid black;
}

body{
  height:100vh;
  font-family: "Roboto", sans-serif;
  font-weight:500!important;
}

#site_header{
  height:60px;
}

#ms_logo{
  height:40px;
}

#site_main{
  height:calc(100% - 60px);
    overflow-y: hidden;
    background-color: grey;
}

#ticket_service{

}

#generateTicket,
#yourTicket
{
  height:40vh;
}

